# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.ebextensions
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
